.contact{
    font-family: 'Silkscreen', cursive;
}
.footer_button{
    font-size: .6rem;
}
.footer{
    text-align: center;
    margin-top: 2rem;
}
.header_logo{
    font-family: 'Silkscreen', cursive;
}
.header{
    text-align: center; margin: 2rem 0; 
}